.game {
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-top: 4%;
}

.three-wide-row {
  display: flex;
  flex-direction: row;
}

.individual-square {
  width: 32px;
  height: 32px;
  outline: 2px solid gray;
}

.quadrant {
  outline: 2px solid black;
}

.square-occupied {
  background-color: black;
  outline: 2px solid black;
}

.square-light {
  background-color: white;
}

.square-dark {
  background-color: lightgrey;
}

.play-area {
  padding-top: 66px;
  display: flex; 
}

.play-area-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tile-row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.new-tile {
  padding: 5px;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.util-row {
  margin-bottom: 10px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
}

.restart-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.game-over-screen {
  filter: blur(10px);
}

.game-over {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 80px;
  filter: none;
  font-size: 32pt;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: #6667AB;
  font-weight: 1000;
  z-index: 2;
}

.game-over-wrapper {
  position: relative;
}